<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>

    <style>
        .simple-table>table,
        th,
        td {
            border: 1px solid black;
        }
        
        .simple-table th,
        td {
            padding: 15px;
        }
    </style>
</head>

<body>
    <table class="simple-table">
        <tr>
            <th>Tanggal</th>
            <th>Total</th>
            <th>Product</th>
        </tr>

        <tr>
            <td>
                <%= reports.date %>
            </td>
            <td>
                <%= reports.total %>
            </td>
            <td>
                <%= reports.ProductsId %>
            </td>
        </tr>

    </table>
</body>

</html>